<html>
    <head>
        <title>Online Compiler!</title>
    </head>
    <body>
        <h1>Online Compiler!</h1>
        </p>
        <p>
            <textarea id="source" style="width:400px;height:200px;"></textarea>
        </p>
        <p>
            Language
            <select id="language">
                <option value="C">C</option>
                <option value="Haskell">Haskell</option>
            </select>
            <button onClick="sendMessage();">Compile!</button>
        </p>
        <p>
            <textarea id="debugTextArea" onFocus="this.blur()" style="width:400px;height:200px;"></textarea>
        </p>

        <script type="text/javascript">
            var debugTextArea = document.getElementById("debugTextArea");

            function sendMessage() {
                initWebSocket();
            }

            function initWebSocket() {
                var websocket = null;
                try {
                    if (typeof MozWebSocket == 'function')
                        WebSocket = MozWebSocket;
                    if ( websocket && websocket.readyState == 1 )
                        websocket.close();
                    websocket = new WebSocket( "ws://ten.iptime.org:8080" );
                    websocket.onopen = function (evt) {
                        var msg = {
                            language : document.getElementById("language").value,
                            source : document.getElementById("source").value
                        }
                        if ( websocket != null && document.getElementById("language").value != "" && document.getElementById("source").value != "") {
                            console.log("send");
                            websocket.send( JSON.stringify(msg) );
                            console.log( msg );
                            console.log(JSON.stringify(msg));
                        }
                    };
                    websocket.onmessage = function (evt) {
                        console.log("recived");
                        debugTextArea.value = evt.data;
                    };
                    websocket.onerror = function (evt) {
                        debugTextArea.value = 'ERROR: ' + evt.data;
                    };
                } catch (exception) {
                    debugTextArea.value = 'ERROR: ' + exception;
                }
            }

            function checkSocket() {
                if (websocket != null) {
                    var stateStr;
                    switch (websocket.readyState) {
                        case 0: {
                            stateStr = "CONNECTING";
                            break;
                        }
                        case 1: {
                            stateStr = "OPEN";
                            break;
                        }
                        case 2: {
                            stateStr = "CLOSING";
                            break;
                        }
                        case 3: {
                            stateStr = "CLOSED";
                            break;
                        }
                        default: {
                            stateStr = "UNKNOW";
                            break;
                        }
                    }
                }
            }
        </script>
    </body>
</html>
